body {
    background-color: blueviolet;
    background-image: url(img/backg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0; 

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer {
    max-height: 20%;
}